
<%= link_to 'Registar Usuario', new_user_path %>
<%= link_to 'Registrar Local', locals_path %>
<%= link_to 'Registrar Grupo', groups_path %>
<%= link_to 'Registrar Concierto', concerts_path %>

<br />
<br />

<h3>Listar Usuario</h3>

<table>
  <tr>
    <th>Tipo de persona</th>
    <th>Nombre</th>
    <th>Apellido paterno</th>
    <th>Apellido materno</th>
    <th>Sexo</th>
    <th>Tipo documento</th>
    <th>Documento</th>
    <th>Dirección de correo electrónico</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.typeuser = 1 ? 'Alumno' : 'Usuario' %></td>
    <td><%= user.name %></td>
    <td><%= user.lastname %></td>
    <td><%= user.secondlastname %></td>
    <td><%= user.sex = 1 ? 'Masculino' : 'Femenino' %></td>
    <td><%= user.typedocument = 1 ? 'DNI' : 'TIU' %></td>
    <td><%= user.document %></td>
    <td><%= user.email %></td>
    <td><%= link_to 'Visualizar', user %></td>
    <td><%= link_to 'Editar', edit_user_path(user) %></td>
    <td><%= link_to 'Eliminar', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>    
  </tr>
</table>

<br />


<% end %>
