<p id="notice"><%= notice %></p>

<p>
  <b>Tipo de persona:</b>
  <%= @user.typeuser = 1 ? 'Alumno' : 'Usuario' %>
</p>

<p>
  <b>Nombres:</b>
  <%= @user.name %>
</p>

<p>
  <b>Apellido paterno:</b>
  <%= @user.lastname %>
</p>

<p>
  <b>Apellido materno:</b>
  <%= @user.secondlastname %>
</p>

<p>
  <b>Sexo:</b>
  <%= @user.sex = 1 ? 'Masculino' : 'Femenino' %>
</p>

<p>
  <b>Tipo de documento:</b>
  <%= @user.typedocument = 1 ? 'DNI' : 'TIU' %>
</p>

<p>
  <b>Documento:</b>
  <%= @user.document %>
</p>

<p>
  <b>Correo electronico:</b>
  <%= @user.email %>
</p>

<%= link_to 'Asistir a Concierto', add_concert_user_path(@user) %>
<%= link_to 'Agregar a Grupo', add_group_user_path(@user) %> |
<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Regresar', users_path %>
