<p id="notice"><%= notice %></p>

<h1>Informacion del Usuario</h1>

<li class="selected"><a href="#"><%= link_to 'Editar Usuario', edit_user_path(@user) %></a></li>
    
<li class="selected">
  <a href="#">
    <% if  current_user.rol == 1 %>
      <%= link_to 'Regresar', users_path %>
    <% else %>
      <%= link_to 'Regresar', home_path %>
    <% end %>
  </a>
</li>

    <br>
  


<p>
  <b>Tipo de persona:</b>
  <%= @user.typeuser == 1 ? 'Alumno' : 'Usuario' %>
</p>

<p>
  <b>Nombres:</b>
  <%= @user.name %>
</p>

<p>
  <b>Apellido paterno:</b>
  <%= @user.lastname %>
</p>

<p>
  <b>Apellido materno:</b>
  <%= @user.secondlastname %>
</p>

<p>
  <b>Sexo:</b>
  <%= @user.sex = 1 ? 'Masculino' : 'Femenino' %>
</p>

<p>
  <b>Tipo de documento:</b>
  <%= @user.typedocument = 1 ? 'DNI' : 'TIU' %>
</p>

<p>
  <b>Documento:</b>
  <%= @user.document %>
</p>

<p>
  <b>Correo electronico:</b>
  <%= @user.email %>
</p>

  <p>
  <b>Rol:</b>
  <%= @user.rol > 1 ? 'Usuario' : 'Administrador' %>
</p>
<!-- Comentado -->
<!--<%= link_to 'Asistir a Concierto', add_concert_user_path(@user) %> -->
<!--<%= link_to 'Agregar a Grupo', add_group_user_path(@user) %> | -->
<%= link_to 'Asistir a Concierto', add_concert_user_path(@user) %> |
<%= link_to 'Agregar a Grupo', add_group_user_path(@user) %> 
<!-- <%= link_to 'Editar', edit_user_path(@user) %> | -->
<!--<% if  current_user.rol == 1 %> -->
<!--<%= link_to 'Regresar', users_path %> -->
<!--<% else %> -->
<!--<%= link_to 'Regresar', home_path %> -->
<!--<% end %> -->