<%= form_for(@local) do |f| %>
  <% if @local.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@local.errors.count, "error") %> prohibited this local from being saved:</h2>

      <ul>
        <% @local.errors.each_with_index do |msg, i| %>
        <li><%= msg[1] %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nombre_local %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Direccion %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :Distrito %><br />
    <%= f.text_field :zona %>
  </div>
  <div class="field">
    <%= f.label :Longitud %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :Latitud %><br />
    <%= f.text_field :latitude %>    
  </div>
    <div class="field">
    <%= f.label :gmaps %><br />
    <%= f.text_field :gmaps %>    
  </div>
  <div class="field">
    <%= f.label :Telefono %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="actions">
    <%= f.submit :Registrar %>
  </div>
<% end %>
