<h1>Listar Grupos Musicales</h1>

<table>
  <tr>
    <th>Nombre Grupo</th>
    <th>Estilo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= group.name %></td>
    <td><%= group.genre %></td>
    <td><%= link_to 'Visualizar', group %></td>
    <td><%= link_to 'Editar', edit_group_path(group) %></td>
    <td><%= link_to 'Eliminar', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Grupo Musical', new_group_path %>
<%= link_to 'Regresar', users_path %>

