  
    <!-- begin header -->    

    <header>
    <div id="logo"><h1>Conciertos <a href="#">UPC </a> - Peru</h1></div>
    <nav>
        <ul class="sf-menu" id="nav">
    <br>
    <br>
    <% if current_user %>

    <li class="selected"><a href="#">Usuarios</a>
      <ul>
        <li><%= link_to 'Listado', users_path %></li>
      </ul>
       
    <li class="selected"><a href="#">Locales</a>
      <ul>
        <li><%= link_to 'Nuevo', new_local_path %></li>
      </ul>
      <br>
      <br>      
      <ul>
        <li><%= link_to 'Listado', locals_path %></li>
      </ul>
    
    <li class="selected"><a href="#">Grupos</a>
      <ul>
        <li><%= link_to 'Nuevo', new_group_path %></li>
      </ul>
      <br>
      <br>
      <ul>
        <li><%= link_to 'Listado', groups_path %></li>
      </ul>

    <li class="selected"><a href="#">Conciertos</a>
      <ul>
        <li><%= link_to 'Nuevo', new_concert_path %></li>
      </ul>
      <br>
      <br>
      <ul>
        <li><%= link_to 'Listado', concerts_path %></li>
      </ul>

    <li class="selected"><a href="#">Salir</a>
      <ul>
        <li><%= link_to "Desloguearse", :logout %></li>
      </ul>
      
    
    <% else %>
      <li><%= link_to "Registrate", new_user_path %></li>
      <li><%= link_to "Ingresa", :login %></li>
    <% end %>

      </ul>
    </nav>
    </header>

   <!-- end header -->
    <br>
    <br>
    <br>
    <br>
    <!-- begin content -->
  
      <br>
    <br>
    <br>
        <br>
    <br>
    <br>

    <div id="site_content">
      <ul class="slideshow">
        <li class="show"><img width="950" height="450" src="/assets/home_1.jpg" alt="&quot;Si eres alumno unete a un grupo y participa en un concierto.&quot;" /></li>
        <li><img width="950" height="450" src="/assets/home_2.jpg" alt="&quot;Si no eres alumno inscribete a un concierto y disfruta de la mejor musica.&quot;" /></li>
        <li><img width="950" height="450" src="/assets/home_3.jpg" alt="&quot;Promovemos la musica dentro y fuera de la UPC.&quot;" /></li>
      </ul>
    </div>
    <!-- end content -->

  