  
    <!-- begin header -->    

<div class="nav-wrapper">
      <nav id="topnav" class="row">
      <ul id="logo-bar">  
        <% if current_user %>
          <li class="selected"><a href="#">Usuario</a>
            <ul>
              <li><%= link_to 'Registrar', new_user_path %></li>
            </ul>
          <li class="selected"><a href="#">Local</a>
            <ul>
              <li><%= link_to 'Registrar', locals_path %></li>
            </ul>
          <li class="selected"><a href="#">Grupo</a>
            <ul>
              <li><%= link_to 'Registrar', groups_path %></li>
            </ul>
          <li class="selected"><a href="#">Concierto</a>
            <ul>
              <li><%= link_to 'Registrar', concerts_path %></li>
            </ul>
            <%= link_to "Logout", :logout %>
        <% else %>
            <%= link_to "Register", new_user_path %> |
            <%= link_to "Login", :login %>
        <% end %>
      </ul>
      <ul id="site-nav" class="">
         <li class="menu-item"><a href="#">Home</a>
          <li id="menu-item-16" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16"><a href="#">Products Page</a>
         <ul class="sub-menu">
          <li id="menu-item-15" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15"><a href="#">Checkout</a></li>
        </ul>
          </li>
                                    </ul>
    </nav>
   </div>   
    <!-- end header -->
    <!-- begin content -->

    <div id="site_content">
      <ul class="slideshow">
        <li class="show"><img width="950" height="450" src="/assets/home_1.jpg" alt="&quot;You can put a caption for your image right here&quot;" /></li>
        <li><img width="950" height="450" src="/assets/home_2.jpg" alt="&quot;You can put a description of the image here if you like, or anything else if you want.&quot;" /></li>
        <li><img width="950" height="450" src="/assets/home_3.jpg" alt="&quot;You can put a description of the image here if you like, or anything else if you want.&quot;" /></li>
      </ul>
    </div>
    <!-- end content -->

  