<p id="notice"><%= notice %></p>

<p>
  <b>Nombre Grupo Musical:</b>
  <%= @group.name %>
</p>

<p>
  <b>Estilo:</b>
  <%= @group.genre %>
</p>


<%= link_to 'Editar', edit_group_path(@group) %> |
<%= link_to 'Regresar', groups_path %>
