<p id="notice"><%= notice %></p>

<p>
  <b>Typeuser:</b>
  <%= @user.typeuser %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Lastname:</b>
  <%= @user.lastname %>
</p>

<p>
  <b>Secondlastname:</b>
  <%= @user.secondlastname %>
</p>

<p>
  <b>Sex:</b>
  <%= @user.sex %>
</p>

<p>
  <b>Typedocument:</b>
  <%= @user.typedocument %>
</p>

<p>
  <b>Document:</b>
  <%= @user.document %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<<<<<<< HEAD
<p>
  <b>Dateregister:</b>
  <%= @user.dateregister %>
</p>

=======
>>>>>>> fcdccdd71f4f6da71016d84dc7f00053d264b3ec

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
