<%= form_for(@concert) do |f| %>
  <% if @concert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@concert.errors.count, "error") %> prohibited this concert from being saved:</h2>

      <ul>
      <% @concert.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Local %><br />
    <%= f.text_field :local %>
  </div>
  <div class="field">
    <%= f.label :Grupo %><br />
    <%= f.text_field :group %>
  </div>
  <div class="field">
    <%= f.label :Fecha %><br />
    <%= f.date_select :dateconcert %>
  </div>
  <div class="field">
    <%= f.label :Hora_inicio %><br />
    <%= f.time_select :hourstart %>
  </div>
  <div class="field">
    <%= f.label :Hora_Termono %><br />
    <%= f.time_select :hourend %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
