<h1>Listar Conciertos</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Local</th>
    <th>Grupo Musical</th>
    <th>Fecha Presentación</th>
    <th>Hora Inicio</th>
    <th>Hora Termino</th>
    <th>Estado</th>
    <th></th>
    <th></th>
    <th></th>
   <th></th>
   <th></th>
   </tr>

<% @concerts.each do |concert| %>
  <tr>
    <td><%= concert.name %></td>
    <td><%= concert.local.name %></td>
    <td><%= concert.group.name %></td>
    <td><%= l concert.dateconcert, :format => :default %></td>
    <td><%= l concert.hourstart, :format => :default  %></td>
    <td><%= l concert.hourend, :format => :default  %></td>
    <td><%= concert.dateconcert >= DateTime.now ? 'Pendiente' : 'Terminado' %></td>  
    <td>&nbsp&nbsp&nbsp&nbsp</td>
    <td><%= link_to 'Visualizar', concert %></td>
    <% if current_user.typeuser == 1 %>
    <td><%= link_to 'Editar', edit_concert_path(concert) %></td>
    <td><%= link_to 'Eliminar', concert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <%end%>
     <td><%= link_to 'Comentar', add_comment_comment_path(concert) %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'Regresar', home_path %>

