<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @concert.name %>
</p>

<p>
  <b>Local:</b>
  <%= @concert.local.name %>
</p>

<p>
  <b>Grupo Musical:</b>
  <%= @concert.group.name %>
</p>

<p>
  <b>Fecha Presentación:</b>
  <%= l @concert.dateconcert, :format => :default %>
</p>

<p>
  <b>Hora de Inicio:</b>
  <%= l @concert.hourstart, :format => :default %>
</p>

<p>
  <b>Hora de Termino:</b>
  <%= l @concert.hourend, :format => :default %>
</p>


<%= link_to 'Regresar', concerts_path %>
